
doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title verbiage. not a chat.  it's a conversation.
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

      .container-full
        .col-lg-12.text-center.v-center
          h1 verbiage
          h2 digital verbosity from your fingertips,
          h3 and onto those who needed your enlightenment
          form
            input(type="text", class="chatGuy", placeholder="Nomenclature")
            input(type="text", class="chatText", placeholder="strings of words or phrases")
            input.button(type="submit", class="postIt", value="Affix your insight")

        .chatbox.col-lg-12.text-center.v-center

      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild
      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild
